@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 300;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Light.ttf");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Medium.ttf");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-SemiBold.ttf");
}