* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SF Pro Display";
    font-size: 16px;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.over-header {
    background-color: #454F5B;
    display: flex;
    align-items: center;
    padding: 8px 0px;
}

.over-header p {
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 452px;
    margin-right: 197px;
}

.over-header a {
    color: #FFFFFF;
    letter-spacing: 12%;
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
    transition: all 0.5s;
}

.over-header a:hover {
    background-color: #fff;
    color: #454f5b;
    border-radius: 6px;
    padding: 0px 3px;
}

header {
    padding: 20px 100px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 2px #C4CDD5;
}

.logo {
    width: 50.4px;
    height: 42px;
    margin-right: 101.5px;
}

header ul {
    font-weight: 300;
    color: #161C24;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

ul a {
    text-decoration: none;
    transition: all 0.5s;
}

ul a:hover {
    text-decoration: underline;
}

ul .ab {
    margin-right: 283.1px;
}

.contact a {
    text-decoration: none;
    color: #161C24;
    font-weight: 300;
    font-size: 20px;
}